.header-container{
  margin: 10px;
  text-align: center;
}

.header-button-login{
  padding: 10px;
  background-color: #b567ff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
  margin-left: 10px;
}

.header-button {
  padding: 10px;
  background-color: #b567ff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
  margin: 5px;
  font-size: 0.9rem;
  text-align: center;
  flex: 1;
  min-width: 0;
}

.header-button:hover{
  background-color: #ffffff;
  color: #b567ff;
}
